#Cabecera{
   
    width: auto;
}

h2, h3{
color:#d86143;
}

table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 10%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
 }
 body{
    text-align: left;
    width: min-content;
 }
 *{
align-items: 20%;

 }
